<div *ngIf="showLoader || !!errorMessage" class="loader">
  <i *ngIf="showLoader" class="fa fa-spinner fa-spin"></i>
  <p *ngIf="!!errorMessage">{{errorMessage}}</p>
</div>
<section *ngIf="!showLoader && !errorMessage" class="view-claim">
  <div class="page-title">
    <p>Pending Claim</p>
  </div>
  <div class="claim-creator">
    <h4 [routerLink]="['/admin/staff', claim[0]?.staffId]">{{claim[0].firstname}} {{claim[0].lastname}}{{claim[0]?.middlename ? (' '+claim[0]?.middlename.substring(0,1)) : ''}}</h4>
  </div>
  <claims [claims]="claim" [showDetails]="true"></claims>
</section>