@import '../../../assets/global-styles/mixins';
@import '../../../assets/global-styles/variables';

.loader {
  position: relative;
  width: 100%;
  height: 100%;
  .fa {
    position: absolute;
    top: 30vh;
    left: 45%;
    font-size: 100px;
    transform: translateX(-50%);
  }
  p {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);
    font-size: 16px;
  }
}
.admin-claims-section {
  .page-title {
    font-size: 30px;
    text-align: center;
  }
  .export-button-section {
    text-align: right;
    .export-button {
      background-color: $brand-color;
      color: $color-white;
      border: none;
      border-radius: 8px;
      padding: 8px 15px;
      margin: auto 0 auto auto;
      box-sizing: border-box;
      cursor: pointer;
    }
  }
}