@import '../../../assets/global-styles/mixins';
@import '../../../assets/global-styles/variables';

.loader {
  position: relative;
  width: 100%;
  height: 100%;
  .fa {
    position: absolute;
    top: 30vh;
    left: 45%;
    font-size: 100px;
    transform: translateX(-50%);
    color: $brand-color;
  }
  p {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);
    font-size: 16px;
  }
}
.admin-claims-section {
  .page-title {
    font-size: 30px;
    text-align: center;
  }
  .export-button-section {
    text-align: right;
    .export-button {
      background-color: $brand-color;
      color: $color-white;
      border: none;
      border-radius: 8px;
      padding: 8px 15px;
      margin: auto 0 auto auto;
      box-sizing: border-box;
      cursor: pointer;
    }
    .mark-as-completed {
      margin: auto 10px auto auto;
    }
    @media screen and (max-width: 350px) {
      text-align: center;
      .export-button {
        width: 100%;
        margin: auto auto 10px;
      }
    }
  }
  .edit-modal-section {
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: $modal-background-tint;
    z-index: 9999;
    .edit-modal {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 600px;
      display: inline-block;
      background-color: $color-white;
      transform: translate(-50%, -50%);
      box-sizing: border-box;
      padding: 40px;
      border-radius: 8px;
      .page-title {
        font-size: 30px;
        text-align: center;
        margin-bottom: 30px;
        p {
          margin: 10px 0 0;
        }
      }
      .modal-content {
        .action-buttons {
          margin: 30px auto;
          .yes-cancel {
            @include white-button;
            color: $brand-color;
            width: 100%;
            &:hover {
              background-color: $brand-color;
            }
          }
          .no-cancel {
            @include white-button;
            width: 100%;
            margin-bottom: 10px;
            color: $brand-color-2;
            &:hover {
              background-color: $brand-color-2;
            }
          }
        }
      }
      .close {
        cursor: pointer;
      }
    }
  }
}