@import '../../assets/global-styles/mixins';
@import '../../assets/global-styles/variables';

.login-page {
  .login-nav {
    padding: 30px;
    text-align: right;
    box-sizing: border-box;
    a {
      text-decoration: none;
      margin: 0;
      color: $faint-color;
      cursor: pointer;
    }
  }
  .container {
    padding: 15px;
    box-sizing: border-box;
    .brand {
      margin-top: 30px;
      .image-wrapper {
        width: 120px;
        margin: auto;
        cursor: pointer;
        img {
          width: 100%;
        }
      }
    }
    .page-title {
      text-align: center;
      padding: 50px 0 20px;
      p {
        font-size: 2.4rem;
        color: $color-black;
        margin: auto;
        .the-v {
          color: $brand-color;
        }
        @media screen and (max-width: 400px) {
          font-size: 1.8rem;
        }
      }
    }
    .form-wrapper {
      form {
        width: 350px;
        margin: auto;
        .input {
          position: relative;
          width: 100%;
          margin-top: 25px;
          em {
            position: absolute;
            top: -15px;
            right: 0;
            color: #ab003c;
            font-size: 13px;
          }
          .fa-eye {
            position: absolute;
            top: 15px;
            right: 15px;
            font-size: 18px;
            cursor: pointer;
          }
          input {
            width: 100%;
            height: 45px;
            padding: 0 20px;
            border: 1px solid #ACACAC;
            border-radius: 10px;
            box-sizing: border-box;
            @include placeholder {
              color: rgba(0,0,0,.2);
            }
          }
        }
        .button {
          width: 100%;
          margin-top: 40px;
          button {
            position: relative;
            background-color: $brand-color;
            width: 100%;
            height: 45px;
            color: white;
            font-size: $primary-btn-size;
            border-radius: 10px;
            border: none;
            cursor: pointer;
            &:disabled {
              background-color: #80808060;
              cursor: not-allowed;
            }
            .fa {
              position: absolute;
              top: 10px;
              right: 15px;
              color: white;
            }
            @media screen and (max-width: 400px) {
              font-size: 1.4rem;
            }
          }
        }
        @media screen and (max-width: 400px) {
          width: 100%;
        }
      }
    }
    .forgot-password {
      text-align: center;
      margin-top: 30px;
      a {
        color: $brand-color;
        text-decoration: none;
        opacity: .70;
      }
    }
  }
}
