<main class="login-page">
  <div class="login-nav">
    <p [routerLink]="['/admin/login']">Log in as admin</p>
  </div>
  <div class="container">
    <div class="brand">
      <div [routerLink]="['/']" class="image-wrapper">
        <img src="/assets/images/logo.png" alt="">
      </div>
    </div>
    <div class="page-title">
      <p>Login to <span class="app-name">V-Timer</span></p>
    </div>
    <div class="form-wrapper">
      <form>
        <div class="input">
          <input type="text" placeholder="Staff ID">
        </div>
        <div class="input">
          <input type="text" placeholder="Password">
        </div>
        <div class="button">
          <button type="submit" name="submit">Login</button>
        </div>
      </form>
      <div class="forgot-password">
        <p [routerLink]="['/forgot-password']">Forgot password?</p>
      </div>
    </div>
  </div>
</main>
