<section class="profile">
  <div class="page-title">
    <p>Profile</p>
  </div>
  <div class="edit-mode">
    <p class="switch-text">Edit mode</p>
    <div id="switch">
      <p id="on">On</p>
      <p id="off">Off</p>
      <div class="knob" id="knob" (click)="toggleEditMode()"></div>
    </div>
  </div>
  <div class="profile-info">
    <div class="profile-image">
      <div class="edit-icon" (click)="runModalDisplay('imageModal', 'Profile Photo')">
        <i class="fas fa-edit"></i>
      </div>
      <div class="image-wrapper">
        <img src="{{currentStaff?.image | transformImage}}" alt="Staff Image">
      </div>
    </div>
    <div class="profile-details">
      <div class="details">
        <p class="details-header">Name</p>
        <p class="details-item">{{currentStaff?.lastname}} {{currentStaff?.firstname}} {{currentStaff?.middlename?.substring(0,1)}}</p>
      </div>
      <div class="details">
        <div class="edit-icon" (click)="runModalDisplay('branchModal', 'Branch')">
          <i class="fas fa-edit"></i>
        </div>
        <p class="details-header">Branch</p>
        <p class="details-item">{{currentStaff?.branch}} ({{currentStaff?.solId || 'No branch yet'}})</p>
      </div>
      <div class="details">
        <div class="edit-icon" (click)="runModalDisplay('roleModal', 'Role')">
          <i class="fas fa-edit"></i>
        </div>
        <p class="details-header">Position</p>
        <p class="details-item">{{currentStaff?.role || '--'}}</p>
      </div>
      <div class="details">
        <div class="edit-icon" (click)="runModalDisplay('phoneModal', 'Phone Number')">
          <i class="fas fa-edit"></i>
        </div>
        <p class="details-header">Phone Number</p>
        <p class="details-item">0{{currentStaff?.phone}}{{currentStaff?.altPhone ? ('; 0'+currentStaff?.altPhone) : ''}}</p>
      </div>
      <div class="details">
        <p class="details-header">Email Address</p>
        <p class="details-item">{{currentStaff?.emailAddress}}</p>
      </div>
    </div>
    <div class="lm lineManager">
      <div class="lm-details-header">
        <p>Line Manager</p>
      </div>
      <div>
        {{currentStaff?.lineManagerFirstName || '--'}} {{currentStaff?.lineManagerLastName}}
      </div>
    </div>
    <div class="lm account-details">
      <div class="lm-details-header">
        <p>Account Details</p>
      </div>
      <div class="lm-details-body">
        <div class="details-header">
          <p>Account Number</p>
        </div>
        <div class="name details-item">
          <p>{{currentStaff?.accountNumber}}</p>
        </div>
      </div>
    </div>
  </div>
  <section [ngStyle]="{display: displayModal}" class="edit-modal-section">
    <div class="edit-modal">
      <div class="page-title">
        <p>{{modalTitle}}</p>
      </div>
      <div class="form-wrapper">
        <form [ngSwitch]="true" #profileForm="ngForm" (ngSubmit)="handleSubmit(profileForm.value, currentModal)" autocomplete="off" novalidate>
          <ng-template [ngSwitchCase]="imageModal">
            <div class="image-preview">
              <img src="{{imagePreview || authService?.currentStaff?.image}}" alt="Image">
            </div>
            <div class="input">
              <p (click)="triggerFileInput()" class="input-button">Click to select image</p>
              <input #fileInput (change)="handleImagePreview(fileInput)" type="file" id="fileInput" accept=".jpeg,.png,.jpg" required>
            </div>
          </ng-template>
          <ng-template [ngSwitchCase]="nameModal">
            <div class="input">
              <input [(ngModel)]="firstname" name="firstname" type="text" placeholder="Enter your first name" required>
            </div>
            <div class="input">
              <input [(ngModel)]="lastname" name="lastname" type="text" placeholder="Enter your last name" required>
            </div>
            <div class="input">
              <input [(ngModel)]="middlename" name="middlename" type="text" placeholder="Enter your middle name" required>
            </div>
          </ng-template>
          <ng-template [ngSwitchCase]="emailModal">
            <div class="input">
              <input [(ngModel)]="email" name="email" type="email" placeholder="Enter office email address" required>
            </div>
          </ng-template>
          <ng-template [ngSwitchCase]="phoneModal">
            <div class="input">
              <input [(ngModel)]="phone" name="phone" type="tel" placeholder="Enter your phone number" required>
            </div>
            <div class="input">
              <input [(ngModel)]="altPhone" name="altPhone" type="tel" placeholder="Other number (optional)" required>
            </div>
          </ng-template>
          <ng-template [ngSwitchCase]="roleModal">
            <div class="input role-input-wrapper" tabindex="0" (focus)="roleDropdown=true" (blur)="roleDropdown=false">
              <div class="decoy-input role-decoy-input">{{currentStaff?.role}}</div>
              <input [ngStyle]="{display:'none'}" [(ngModel)]="roleId" name="roleId" type="number" required>
              <div *ngIf="roleDropdown" class="dropdown-list">
                <div *ngFor="let role of roles" class="list-item" (mousedown)="handleSelect('role', role)">{{role.name}}</div>
              </div>
            </div>
          </ng-template>
          <ng-template [ngSwitchCase]="branchModal">
            <div *ngIf="branch && !canUpdateBranch" class="request-permission">
              <p>You do not have permission to change your branch. Would you like to request permission?</p>
              <div class="button">
                <button (click)="requestBranchEditPermission()" type="button">
                  Yes, request permission.
                  <i *ngIf="displaySpinner" class="fa fa-spinner fa-spin"></i>
                </button>
              </div>
            </div>
            <div *ngIf="!branch || canUpdateBranch" class="input">
              <div
                contenteditable="true"
                class="decoy-input"
                id="decoy-input"
                (input)="handleInput($event.target.innerText, 'branches', 'branch')"
                (focus)="handleInput('', 'branches', 'branch')"
                (blur)="branchDropdown=false"
              >{{currentStaff?.branch}} ({{currentStaff?.solId}})</div>
              <input [ngStyle]="{display:'none'}" [(ngModel)]="branchId" name="branchId" type="number" required>
              <div *ngIf="branchDropdown && filteredbranches.length" class="dropdown-list">
                <div *ngFor="let branch of filteredbranches" class="list-item" (mousedown)="handleSelect('branch', branch)">{{branch.name}} ({{branch.solId}})</div>
              </div>
            </div>
            <div *ngIf="supervisorSelect" class="input">
              <label for="lineManagerId">Line Manager</label>
              <select [(ngModel)]="lineManagerId" type="number" name="lineManagerId" class="short-input" required>
                <option *ngFor="let supervisor of supervisorSelectOptions" [value]="supervisor.id">{{supervisor.firstname}} {{supervisor.lastname}}</option>
              </select>
            </div>
          </ng-template>
          <div *ngIf="!(branchModal && branch && !canUpdateBranch)" class="button">
            <button
              [disabled]="(imageModal && fileInvalid) || (branchModal && !(branchId && lineManagerId))"
              (click)="displaySpinner=true"
              type="submit"
              name="submit">
              Submit
              <i *ngIf="displaySpinner" class="fa fa-spinner fa-spin"></i>
            </button>
          </div>
        </form>
      </div>
      <p class="close" (click)="closeModal(currentModal)">Close</p>
    </div>
    <div class="thanks-modal" *ngIf="thanksModal">
      <div class="thanks-content">
        <div class="thanks-icon-wrapper">
          <img src="/assets/images/dance_dribbble.gif" alt="">
        </div>
        <div class="confirmation-text">
          <p>Profile complete!</p>
          <br>
          <p class="info">You would be logged out in {{countDown}}</p>
        </div>
        <div class="action-buttons">
          <button
            class="no-cancel"
            id="welldone"
            type="button"
            name="button"
            (click)="closeModal(currentModal)">Close</button>
        </div>
      </div>
    </div>
  </section>
</section>