<div *ngIf="showLoader || !!errorMessage" class="loader">
  <i *ngIf="showLoader" class="fa fa-spinner fa-spin"></i>
  <p *ngIf="!!errorMessage">{{errorMessage}}</p>
</div>
<section *ngIf="!showLoader && !errorMessage" class="view-staff">
  <div class="page-title">
    <p>Staff Profile</p>
  </div>
  <div class="action-buttons">
    <i *ngIf="displaySpinner" class="fa fa-spinner fa-spin"></i>
    <button class="margin-right" (click)="runModalDisplay('calendarModal', 'Authorise multiple claims')">Permit multiple claims</button>
    <button *ngIf="!staff?.changedPassword" class="margin-right" (click)="runAuthorisation(staff?.staffId, 'resendLoginCredentials')">Resend login details</button>
    <button *ngIf="staff?.changedPassword" class="margin-right" (click)="runAuthorisation(staff?.staffId, 'authoriseLineManagerEdit')">Permit line manager edit</button>
    <button (click)="runModalDisplay('removeStaffModal', 'Remove Staff')">Remove</button>
    
  </div>
  <div class="profile-info">
    <div class="profile-image">
      <div class="image-wrapper">
        <img src="{{staff?.image | transformImage}}" alt="Staff Image">
      </div>
    </div>
    <div class="profile-details">
      <div class="details">
        <p class="details-header">Name</p>
        <p class="details-item">{{staff?.lastname}} {{staff?.firstname}} {{staff?.middlename?.substring(0,1)}}</p>
      </div>
      <div class="details">
        <p class="details-header">Position</p>
        <p class="details-item">{{staff?.role || '--'}}</p>
      </div>
      <div class="details">
        <p class="details-header">Phone Number</p>
        <p class="details-item">0{{staff?.phone}}{{staff?.altPhone ? ('; 0'+staff?.altPhone) : ''}}</p>
      </div>
      <div class="details">
        <p class="details-header">Email Address</p>
        <p class="details-item">{{staff?.emailAddress}}</p>
      </div>
      <div class="details">
        <p class="details-header">Branch</p>
        <p class="details-item">{{staff?.branch || '--'}}</p>
      </div>
    </div>
    <div class="lm lineManager">
      <div class="lm-details-header">
        <p>Line Manager</p>
      </div>
      <div class="lm-details-body">
        <div class="details-header">
          <p>ID Number</p>
        </div>
        <div class="id-number details-item">
          <p>{{staff?.lineManagerIdNumber || '--'}}</p>
        </div>
        <div class="details-header">
          <p>Name</p>
        </div>
        <div class="name details-item">
          <p>{{staff?.lineManagerFirstName || '--'}} {{staff?.lineManagerLastName}}</p>
        </div>
        <div class="phone details-header">
          <p>Phone Number</p>
        </div>
        <div class="phone details-item">
          <p>{{staff?.lineManagerPhone || '--'}}</p>
        </div>
        <div class="email details-header">
          <p>Email Address</p>
        </div>
        <div class="email details-item">
          <p>{{staff?.lineManagerEmailAddress || '--'}}</p>
        </div>
      </div>
    </div>
    <div class="lm account-details">
      <div class="lm-details-header">
        <p>Account Details</p>
      </div>
      <div class="lm-details-body">
        <div class="details-header">
          <p>Account Number</p>
        </div>
        <div class="name details-item">
          <p>{{staff?.accountNumber}}</p>
        </div>
      </div>
    </div>
  </div>
  <section [ngStyle]="{display: displayModal}" class="modal-section">
    <div class="modal">
      <div class="page-title">
        <p>{{modalTitle}}</p>
      </div>
      <div [ngSwitch]="true">
        <ng-template [ngSwitchCase]="calendarModal">
          <div class="calendar">
            <div id="calendar" data-language='en' data-min-view="months" data-view="months"></div>
          </div>
        </ng-template>
        <ng-template [ngSwitchCase]="removeStaffModal">
          <div class="remove-staff">
            <p>If you proceed, {{staff.firstname}} would be removed from CleonTime. If you change your mind in the future, you would have to add {{staff.firstname}} again.</p>
          </div>
        </ng-template>
      </div>
      <div class="submit-button">
        <button
          type="button"
          name="button"
          (click)="handleSubmit()">{{calendarModal ? 'Authorise' : 'Proceed'}}</button>
        <i *ngIf="displayActionSpinner" class="fa fa-spinner fa-spin"></i>
      </div>
      <p class="close" (click)="closeModal(currentModal)">Close</p>
    </div>
  </section>
</section>