<div *ngIf="showLoader || !!errorMessage" class="loader">
  <i *ngIf="showLoader" class="fa fa-spinner fa-spin"></i>
  <p *ngIf="!!errorMessage">{{errorMessage}}</p>
</div>
<section *ngIf="!showLoader && !errorMessage" class="dashboard">
  <section class="page-title">
    <p>Dashboard</p>
  </section>
  <section class="salutation">
    <p>Hi {{staffFirstName}}! A beautiful day, huh?</p>
  </section>
  <section class="statistics">
    <div class="stats stat-total">
      <p class="stat-title">Total</p>
      <p class="stat-number">{{claimStatistics?.total}}</p>
      <div class="stat-icon">
        <img src="/assets/images/total.png" alt="Total Icon">
      </div>
    </div>
    <div class="stats stat-completed">
      <p class="stat-title">Completed</p>
      <p class="stat-number">{{claimStatistics?.completed}}</p>
      <div class="stat-icon">
        <img src="/assets/images/completed.png" alt="Completed Icon">
      </div>
    </div>
    <div class="stats stat-declined">
      <p class="stat-title">Declined</p>
      <p class="stat-number">{{claimStatistics?.declined}}</p>
      <div class="stat-icon">
        <img src="/assets/images/declined.png" alt="Declined Icon">
      </div>
    </div>
    <div class="stats stat-cancelled">
      <p class="stat-title">Cancelled</p>
      <p class="stat-number">{{claimStatistics?.cancelled}}</p>
      <div class="stat-icon">
        <img src="/assets/images/cancelled.png" alt="Cancelled Icon">
      </div>
    </div>
  </section>
  <claim [pendingClaim]="pendingClaim"></claim>
  <activity-block [activities]="activities"></activity-block>

</section>
