<div *ngIf="showLoader || !!errorMessage" class="loader">
  <i *ngIf="showLoader" class="fa fa-spinner fa-spin"></i>
  <p *ngIf="!!errorMessage">{{errorMessage}}</p>
</div>
<section *ngIf="!showLoader && !errorMessage" class="dashboard">
  <section class="page-title">
    <p>Dashboard</p>
  </section>
  <section class="salutation">
    <p>Hi {{staffFirstName}}! A beautiful day, huh?</p>
  </section>
  <section class="statistics">
    <div class="stats stat-total">
      <p class="stat-title">Total</p>
      <p class="stat-number">{{claimStatistics?.total}}</p>
    </div>
    <div class="stats stat-completed">
      <p class="stat-title">Completed</p>
      <p class="stat-number">{{claimStatistics?.completed}}</p>
    </div>
    <div class="stats stat-declined">
      <p class="stat-title">Declined</p>
      <p class="stat-number">{{claimStatistics?.declined}}</p>
    </div>
    <div class="stats stat-cancelled">
      <p class="stat-title">Cancelled</p>
      <p class="stat-number">{{claimStatistics?.cancelled}}</p>
    </div>
  </section>
  <section class="claim">
    <div class="section-title">
      <p>Pending claim</p>
    </div>
    <claims [claims]="pendingClaim" [statuses]="[]"></claims>
    <div *ngIf="!!pendingClaim[0]?.monthOfClaim" class="button-wrapper">
      <a [routerLink]="['/staff/pending-claim']">View details</a>
    </div>
  </section>
  <section class="recent-activity">
    <div class="section-title">
      <p>Recent Activities</p>
    </div>
    <activity-block [activities]="activities"></activity-block>
    <!-- <div class="button-wrapper">
      <a [routerLink]="['/staff/activities']">See all</a>
    </div> -->
  </section>
  <section class="window-info">
    <claim-window-info [companySettings]='companySettings' (windowMessageEvent)="displayWindowModal($event)"></claim-window-info>
  </section>
  <section [ngStyle]="{display: displayModal}" class="modal-section">
    <div class="modal">
      <div class="page-title">
        <p>Claim Window Notice!</p>
      </div>
      <div class="notice" [ngStyle]="{backgroundColor: backgroundColor}">{{windowMessage}}</div>
      <p class="close" (click)="closeModal(currentModal)">Close</p>
    </div>
  </section>
</section>
