<div *ngIf="displaySpinner" class="wrapper">
  <div class="spinner">
    <i class="fa fa-spinner fa-spin"></i>
    <p class="waiting">Fetching claims...</p>
  </div>
</div>
<section *ngIf="!displaySpinner" class="approvals-section">
  <div class="greeting">
    <p>Hi {{lineManager?.firstname}}, {{message}}.</p>
  </div>
  <div class="claim-requests-wrapper">
    <div><p>{{errorMessage}}</p></div>
    <div *ngFor="let claim of claimsToApprove" tabindex="0" class="claim-request" id="{{claim.id}}">
      <div class="direction-icon"><i class="fa fa-chevron-right"></i></div>
      <div class="request-details">
        <div class="claim-body" id="claim{{claim.id}}">
          <div class="staff-image">
            <div class="image-wrapper">
              <img src="{{claim?.image | transformImage}}" alt="Staff Avater">
            </div>
          </div>
          <div class="claim-details">
            <div class="name-wrapper">
              <p class="name">{{claim?.lastname}} {{claim?.firstname}} {{claim?.middlename?.substring(0,1)}} (₦{{claim?.amount | number}})</p>
              <p class="claim-elements">{{claim?.claimElements}} claim elements</p>
            </div>
          </div>
          <div class="approval-buttons">
            <div class="buttons-wrapper">
              <div class="approval-btn approve" (mousedown)="runApproval($event, 'approve '+claim.id)">
                <span class="toolTip">Approve</span>          
                <img src="/assets/images/green-check.png" alt="Approve Icon">
              </div>
              <div class="approval-btn request-edit" (mousedown)="toggleModalDisplay('requestEditModal', claim, $event)">
                <span class="toolTip">Request edit</span>          
                <img src="/assets/images/edit.png" alt="Request Edit Icon">
              </div>
              <div class="approval-btn decline" (mousedown)="runApproval($event, 'decline '+claim.id)">
                <span class="toolTip">Decline</span>            
                <img src="/assets/images/declined.png" alt="Decline Icon">
              </div>
            </div>
          </div>
        </div>
        <claim-details [claim]="claim"></claim-details>          
      </div>
    </div>
  </div>
  <div *ngIf="!!claimsToApprove.length" class="claims-counter">
    <div>
      <p class="claim-number">{{claimsToApprove?.length}}</p>
      <p class="left">left</p>
    </div>
  </div>
  <section [ngStyle]="{display: displayThanks}" class="thanks-modal-section">
    <div *ngIf="requestEditModal" class="request-edit-modal">
      <div class="request-edit-content">
        <div class="content-wrapper">
          <h3>Please type a message to {{currentClaim?.firstname}}.</h3>
          <div #editMessage class="textarea" contenteditable="true" placeholder="What should be changed?"></div>
          <div class="action-buttons">
            <button
              class="yes-cancel"
              type="button"
              name="button"
              (click)="toggleModalDisplay('requestEditModal')">Cancel</button>
            <button
              class="no-cancel"
              type="button"
              name="button"
              (click)="sendRequestEdit(editMessage.innerText)">Request edit</button>
          </div>
          <div *ngIf="requestEditSpinner" class="request-edit-loader"><i class="fa fa-spinner fa-spin"></i></div>
        </div>
      </div>
    </div>
    <div *ngIf="thanksModal" class="thanks-modal">
      <div class="thanks-content">
        <div class="thanks-icon-wrapper">
          <img src="/assets/images/dance_dribbble.gif" alt="">
        </div>
        <div class="confirmation-text">
          <p>Thank you for your time!</p>
        </div>
        <div class="action-buttons">
          <button
            class="close"
            type="button"
            name="button"
            (click)="displayThanks='none'">Close</button>
        </div>
      </div>
    </div>
  </section>
</section>