<div class="table-wrapper">
  <table>
    <thead>
      <th></th>
      <th>Month of claim</th>
      <th>Weekday</th>
      <th>Weekend</th>
      <th>Shift</th>
      <th>Amount(₦)</th>
      <th>Status</th>
      <th></th>
    </thead>
    <tbody>
      <td>
        <div class="outter-ellipse">
          <div class="inner-ellipse"></div>
        </div>
      </td>
      <td>March, 2019</td>
      <td>20</td>
      <td>8</td>
      <td>--</td>
      <td>9,400</td>
      <td>Status</td>
      <td>Today</td>
    </tbody>
  </table>
</div>
