<section>
  <div class="page-title">
    <p>Logs</p>
  </div>
  <div class="filter">
    <div class="inputs">
      <div class="input-wrapper">
        <label for="period">Period</label>
        <select [(ngModel)]="period" type="text" name="period" placeholder="Period to view" (change)="onSelectChange()">
          <option value="">All time</option>
          <option value="today">Today</option>
          <option value="range">Range</option>
        </select>
      </div>
      <div *ngIf="period === 'range'" class="input-wrapper">
        <label for="range">Range</label>
        <input
          [(ngModel)]="range"
          type="text"
          name="range"
          placeholder="Range of period to view"
          (focus)="toggleModal(true)">
      </div>
      <div class="input-wrapper">
        <label for="staffId">User</label>
        <input
          #staffInput
          [(ngModel)]="staffId"
          type="text"
          name="staffId"
          placeholder="Staff ID or email"
          (focus)="userFocused=true"
          (blur)="userFocused=false"
          (input)="fetchStaffList()">
        <div *ngIf="staffList.length&&userFocused" class="staff-list">
          <div *ngFor="let staff of staffList" class="staff" (mousedown)="handleSelect(staff.staffId)">
            <span class="staff-id">{{staff.staffId}}</span>
            <span class="staff-name">{{staff.firstname}} {{staff.lastname}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="btn-wrapper">
      <button (click)="runLogsfetch()">View logs</button>
    </div>
  </div>
  <div class="logs">
    <div *ngIf="showSpinner" class="spinner">
      <i class="fa fa-spinner fa-spin"></i>
    </div>
    <div *ngIf="!logs?.length && !showSpinner" class="empty-state">
      <div class="empty-state-message">
        Nothing! Please refine your search parameters to see results.
      </div>
    </div>
    <div *ngIf="logs?.length && !showSpinner">
      <div class="header">
        <div class="header-item timestamp">Timestamp</div>
        <div class="header-item userid">User ID</div>
        <div class="header-item username">Name</div>
        <div class="header-item activity">Activity <i *ngIf="smallSpinner" class="fa fa-spinner fa-spin"></i></div>
      </div>
      <div class="body-conainer" infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="500" (scrolled)="onScroll()" [scrollWindow]="false">
        <div *ngFor="let log of logs" class="body">
          <div class="body-item timestamp">{{log.createdAt | formatIsoDate}}</div>
          <div class="body-item userid">{{log.staffId}}</div>
          <div class="body-item username">{{log.creator.firstname}} {{log.creator.lastname}}</div>
          <div class="body-item activity">{{log.activity}}</div>
        </div>
      </div>
    </div>
  </div>
  <section [ngStyle]="{display: displayCalendarModal}" class="confirm-modal-section">
    <div class="confirm-modal">
      <div class="modal-title">Log Range</div>
      <div class="dates-selected">
        <div class="input-wrapper inline-block">
          <label for="from">Min date</label>
          <input [ngModel]="from" class="from" type="text" placeholder="No selection" readonly>
        </div>
        <div class="input-wrapper inline-block">
          <label for="to">Max date</label>
          <input [ngModel]="to" class="to" type="text" placeholder="No selection" readonly>
        </div>
      </div>
      <div class="calendar" id="logs-calendar" data-language='en'></div>
      <div class="action-buttons">
        <button
          class="yes-cancel"
          type="button"
          name="button"
          (click)="toggleModal(false)">Cancel</button>
        <button
          class="no-cancel"
          type="button"
          name="button"
          (click)="toggleModal(false, true)">Okay</button>
      </div>
    </div>
  </section>
</section>