<div *ngIf="showLoader || !!errorMessage" class="loader">
  <i *ngIf="showLoader" class="fa fa-spinner fa-spin"></i>
  <p *ngIf="!!errorMessage">{{errorMessage}}</p>
</div>
<section *ngIf="!showLoader && !errorMessage" class="dashboard">
  <section class="page-title">
    <p>Dashboard</p>
  </section>
  <section class="statistics">
    <div class="stats stat-total">
      <p class="stat-title">Total</p>
      <p class="stat-number">{{claimStatistics?.total}}</p>
    </div>
    <div class="stats stat-completed">
      <p class="stat-title">Approved</p>
      <p class="stat-number">{{claimStatistics?.approved}}</p>
    </div>
    <div class="stats stat-declined">
      <p class="stat-title">Declined</p>
      <p class="stat-number">{{claimStatistics?.declined}}</p>
    </div>
    <div class="stats stat-cancelled">
      <p class="stat-title">Pending</p>
      <p class="stat-number">{{claimStatistics?.pending}}</p>
    </div>
  </section>
  <section class="appraisals" href="">
    <a href="{{appraisalUrl}}" target="_blank" class="link">Go to appraisals</a>
  </section>
  <section class="stat-line-graph">
    <claims-graph></claims-graph>
  </section>
  <section class="window-info">
    <claim-window-info [companySettings]='companySettings'></claim-window-info>
  </section>
</section>
  