@import '../../../assets/global-styles/mixins';
@import '../../../assets/global-styles/variables';

.loader {
  position: relative;
  width: 100%;
  height: 100%;
  .fa {
    position: absolute;
    top: 30vh;
    left: 45%;
    font-size: 100px;
    transform: translateX(-50%);
    color: $brand-color;
  }
  p {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);
    font-size: 16px;
  }
}
.dashboard {
  flex: 1;
  height: 100%;
  box-sizing: border-box;
  .page-title {
    padding-top: 30px;
    font-size: 30px;
    text-align: center;
    box-sizing: border-box;
    p {
      margin: 0;
    }
  }
  .salutation {

  }
  .statistics {
    display: flex;
    margin-bottom: 60px;
    .stats {
      flex: 1;
      background-color: $color-white;
      margin: 0 10px;
      border: 1px solid $faint-border-color;
      border-radius: 8px;
      text-align: center;
      .stat-title {
        margin: 10px;
        color: $faint-color;
        text-align: left;
      }
      .stat-number {
        margin: 15px auto;
        font-weight: bold;
        font-size: 40px;
      }
      .stat-icon {
        height: 20px;
        padding-bottom: 10px;
        img {
          height: 100%;
        }
      }
    }
    .stat-total {
      margin: 0 15px 0 0;
    }
    .stat-cancelled {
      margin: 0 0 0 15px;
    }
  }
  .window-info {
    position: fixed;
    bottom: 30px;
    right: 30px;
  }

  @media screen and (max-width: 768px) {
    .page-title {
    }
    .salutation {

    }
    .statistics {
      flex-wrap: wrap;
      width: 300px;
      margin: auto;
      .stats {
        flex: 0 0 120px;
        margin: 10px;
        .stat-title {
        }
        .stat-number {
        }
        .stat-icon {
          img {
          }
        }
      }
      .stat-total {
      }
      .stat-cancelled {
      }
    }
  }
}
