@import '../../../assets/global-styles/mixins';
@import '../../../assets/global-styles/variables';

.change-password {
  .page-title {
    font-size: 30px;
    text-align: center;
  }
  .form-wrapper {
    padding: 30px 0;
    form {
      width: 350px;
      margin: auto;
      .input {
        position: relative;
        width: 100%;
        margin-top: 25px;
        .fa-eye {
          position: absolute;
          top: 15px;
          right: 15px;
          font-size: 18px;
          cursor: pointer;
        }
        input {
          width: 100%;
          height: 45px;
          padding: 0 20px;
          border: 1px solid #ACACAC;
          border-radius: 10px;
          box-sizing: border-box;
          @include placeholder {
            color: rgba(0,0,0,.2);
          }
        }
      }
      .button {
        width: 100%;
        margin-top: 40px;
        button {
          position: relative;
          background-color: $brand-color;
          width: 100%;
          height: 45px;
          color: white;
          font-size: 1.7rem;
          border-radius: 10px;
          border: none;
          cursor: pointer;
          &:disabled {
            background-color: #80808060;
            cursor: not-allowed;
          }
          .fa {
            position: absolute;
            top: 10px;
            right: 15px;
            color: white;
          }
          @media screen and (max-width: 400px) {
            font-size: 1.4rem;
          }
        }
      }
      @media screen and (max-width: 400px) {
        width: 100%;
      }
    }
  }
}
