<main class="login-page">
  <div class="container">
    <div class="brand">
      <div [routerLink]="['/']" class="image-wrapper">
        <img src="/assets/images/logo.png" alt="Logo">
      </div>
    </div>
    <div class="page-title">
      <p>Forgot your password?</p>
      <p class="description">Passwords are easy to forget, we know. With your Staff ID, we can help you reset it.</p>
    </div>
    <div class="form-wrapper">
      <form #forgotPasswordForm="ngForm" (ngSubmit)="handleSubmit(forgotPasswordForm.value)" autocomplete="off" novalidate>
        <div class="input">
          <em
            *ngIf="forgotPasswordForm.controls.staffIdOrEmail?.invalid && mouseoverLoginButton">
            Required
          </em>
          <input
            [(ngModel)]="staffIdOrEmail"
            name="staffIdOrEmail"
            type="text"
            placeholder="Enter Staff ID or email address"
            required>
        </div>
        <div
          class="button"
          (mouseenter)="mouseoverLoginButton=true"
          (mouseleave)="mouseoverLoginButton=false">
          <button
            [disabled]="forgotPasswordForm.invalid"
            (click)="displaySpinner=true"
            type="submit"
            name="submit">
            Send me reset link
            <i *ngIf="displaySpinner" class="fa fa-spinner fa-spin"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
</main>
