@import '../../assets/global-styles/variables';

.brand {
  margin-top: 110px !important;
  @media screen and (max-width: 400px) {
    margin-top: 5px !important;
  }
}
.description {
  width: 320px;
  margin-top: 10px !important;
  font-size: 16px !important;
  color: $faint-color !important;
  @media screen and (max-width: 400px) {
    width: 280px;
    font-size: 14px !important;
  }
}
