@import '../../assets/global-styles/mixins';
@import '../../assets/global-styles/variables';

.main {
  position: relative;
}
top-nav {
  position: absolute;
  width: 100%;
  z-index: 999;
}

.active {
  background-color: $brand-color !important;
  color: $color-white !important;
}

.content-wrapper {
  display: flex;
  height: 100vh;
  padding-top: 65px;
  box-sizing: border-box;
  .side-nav {
    flex: 0 0 250px;
    background-color: $color-white;
    transition: all .4s ease-in-out;
    .new-claim-button-wrapper {
      margin: 30px auto 20px;
      text-align: center;
      button {
        background-color: $color-white;
        padding: 10px 18px;
        font-size: 18px;
        color: $brand-color;
        border: 1px solid $faint-border-color;
        border-radius: 8px;
        box-shadow: 2px 2px 10px 0 $faint-color-ex-light;
        box-sizing: border-box;
        cursor: pointer;
        transition: all .2s ease-in-out;
        &:hover {
          box-shadow: 0 0 0 0 $faint-color-ex-light;
        }
        &:focus {
          outline: none;
        }
      }
    }
    .side-nav-link {
      display: block;
      color: $brand-color;
      .icon-wrapper {
        display: inline-block;
        width: 20px;
        margin: auto 20px auto 30px;
        .fas, .far {
          font-size: 20px;
        }
      }
      p {
        display: inline-block;
        margin: 10px auto;
      }
      &:hover:not(.active) {
        background-color: $dashboard-background-color;
      }
      .active {
        background-color: $brand-color;
        color: $color-white !important;
      }
    }
    hr {
      margin: 30px auto;
      border: .5px solid $faint-border-color;
    }
  }
  .content {
    flex: 1;
    background-color: $dashboard-background-color;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    overflow-y: scroll;
  }

  @media screen and (max-width: 1024px) {
    .side-nav {
      position: absolute;
      z-index: 99;
      width: 250px;
      height: calc(100% - (65px));
    }
  }
  @media screen and (max-width: 500px) {
    .content {
      padding: 0 10px;
    }
  }
}
