@import '../../assets/global-styles/variables';

.cover {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  background-image: url('../../assets/images/bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  .home-content {
    position: relative;
    background-color: rgba(255,255,255,.8);
    width: 100%;
    height: 100%;
    .description {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: none;
      text-align: center;
      .app-name {
        margin-bottom: 40px;
        p {
          font-size: 6rem;
          font-weight: bold;
          color: $color-black;
          margin: 0;
        }
        .cleon {
          color: $brand-color;
        }
        .time {
          color: $brand-color-2;
        }
      }
      .mantra {
        margin-bottom: 80px;
        p {
          color: $brand-color-2;
          font-size: 2.2rem;
          width: 500px;
          margin: 0;
          box-sizing: border-box;
        }
      }
      .submit-overtime-button {
        button {
          background-color: $brand-color;
          height: 50px;
          font-size: 1.3rem;
          color: $color-white;
          padding: 0 20px;
          border: none;
          border-radius: 100000px;
          cursor: pointer;
        }
      }
    }
  }
  @media screen and (max-width: 550px) {
    .home-content {
      .description {
        .app-name {
          margin-bottom: 20px;
          p {
            font-size: 4rem;
          }
        }
        .mantra {
          p {
            font-size: 1.5rem;
            width: 300px;
          }
        }
        .submit-overtime-button {
          button {
            font-size: 1rem;
            height: 45px;
          }
        }
      }
    }
  }

  @media screen and (max-width: 350px) {
    .home-content {
      .description {
        .app-name {
          p {
            font-size: 3rem;
          }
        }
        .mantra {
          p {
            font-size: 1.2rem;
            width: 300px;
          }
        }
        .submit-overtime-button {
          button {
            font-size: 1rem;
            height: 40px;
          }
        }
      }
    }
  }
}
