<main class="login-page">
  <div class="container">
    <div class="brand">
      <div [routerLink]="['/']" class="image-wrapper">
        <img src="/assets/images/logo.png" alt="Logo">
      </div>
    </div>
    <div class="page-title">
      <p>Reset password</p>
    </div>
    <div class="form-wrapper">
      <form #resetPassword="ngForm" (ngSubmit)="handleSubmit(resetPassword.value)" autocomplete="off" novalidate>
        <div class="input">
          <em
            *ngIf="resetPassword.controls.password?.invalid
              && (resetPassword.controls.password?.touched || mouseoverLoginButton)">
            Required
          </em>
          <i
            class="fa fa-eye"
            (click)="toggleViewPasswordText()"></i>
          <input
            (ngModel)="password"
            name="password"
            type="{{passwordFieldType}}"
            placeholder="Enter new password"
            required>
        </div>
        <div class="input">
          <em
          *ngIf="resetPassword.controls.confirmPassword?.invalid
            && (resetPassword.controls.confirmPassword?.touched || mouseoverLoginButton)">
          Required
          </em>
          <i
            class="fa fa-eye"
            (click)="toggleViewPasswordText()"></i>
          <input
            (ngModel)="confirmPassword"
            name="confirmPassword"
            type="{{passwordFieldType}}"
            placeholder="Enter new password again"
            required>
        </div>
        <div
          class="button"
          (mouseenter)="mouseoverLoginButton=true"
          (mouseleave)="mouseoverLoginButton=false">
          <button
            [disabled]="resetPassword.invalid"
            (click)="displaySpinner=true"
            type="submit"
            name="submit">
            Reset password
            <i *ngIf="displaySpinner" class="fa fa-spinner fa-spin"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
</main>
