@import './variables';

body, html {
  font-family: "Trebuchet MS";
  color: $color-black;
  font-size: 16px;
  overflow-y: auto;
  overflow-x: hidden;
}
button, .app-name {
  outline: none;
}
.datepicker--cell.-selected-,
.datepicker--cell.-selected-.-current-,
.datepicker--cell.-selected-.-focus- {
  background-color: $brand-color;
}
.datepicker--day-name {
  color: $brand-color;
}
.datepicker {
  color: $color-black;
}
.datepicker--cell.-disabled- {
  color: #cccccc;
  cursor: not-allowed;
}
.selected-custom-cell.-disabled- {
  color: $color-black;
  cursor: pointer !important;
  &:hover {
    color: $color-black;
  }
}
.overtime-bg {
  background-color: #43A047;
  color: $color-white !important;
  cursor: pointer !important;
  &:hover {
    background-color: #43A047;
  }
}
.weekend-bg {
  background-color: #F4511E;
  color: $color-white !important;
  cursor: pointer !important;
  &:hover {
    background-color: #F4511E;
  }
}
.shiftDuty-bg {
  background-color: #26c6da;
  color: $color-white !important;
  cursor: pointer !important;
  &:hover {
    background-color: #26c6da;
  }
}
.atmDuty-bg {
  background-color: #2196F3;
  color: $color-white !important;
  cursor: pointer !important;
  &:hover {
    background-color: #2196F3;
  }
}
.atmSupport-bg {
  background-color: #9C27B0;
  color: $color-white !important;
  cursor: pointer !important;
  &:hover {
    background-color: #9C27B0;
  }
}
.holiday-bg {
  background-color: #22328a;
  color: $color-white !important;
  cursor: pointer !important;
  &:hover {
    background-color: #22328a;
  }
}

.overtime-atmDuty-bg {
  background: linear-gradient(90deg, #43A047 50%, #2196F3 50%);
  color: $color-white !important;
  cursor: pointer !important;
  &:hover {
    background: linear-gradient(90deg, #43A047 50%, #2196F3 50%);
  }
}

.overtime-atmSupport-bg {
  background: linear-gradient(90deg, #43A047 50%, #9C27B0 50%);
  color: $color-white !important;
  cursor: pointer !important;
  &:hover {
    background: linear-gradient(90deg, #43A047 50%, #9C27B0 50%);
  }
}

.margin-right {
  margin-right: 10px;
}