@import './variables';

body, html {
  font-family: "Trebuchet MS";
  color: $color-black;
  font-size: 16px;
  overflow-y: auto;
  overflow-x: hidden;
}
button, .app-name {
  outline: none;
}
.datepicker--cell.-selected-,
.datepicker--cell.-selected-.-current-,
.datepicker--cell.-selected-.-focus- {
  background-color: $brand-color;
}
.datepicker--day-name {
  color: $brand-color;
}
.datepicker {
  color: $color-black;
}
.datepicker--cell.-disabled- {
  color: #cccccc;
  cursor: not-allowed;
}