$brand-color: #001E50;
$brand-color-light: #5CA1FF;
$faint-color: #ACACAC;
$faint-color-light: #61616140;
$faint-color-ex-light: #61616130;
$faint-color-xx-light: #61616110;
$faint-border-color: #70707020;
$faint-border-color-2: #F5F5F5;
$color-red: #84120B;
$color-white: #FFFFFF;
$dashboard-background-color: #F4F6FA;
$modal-background-tint: #00000060;
