$brand-color: #84120B;
$brand-color-2: #903700;
$brand-color-3: #673AB7;
$brand-color-ex-light: #5CA1FF30;
$faint-color: #797979;
$faint-color-light: #61616140;
$faint-color-ex-light: #61616130;
$faint-color-xx-light: #61616110;
$faint-border-color: #70707020;
$faint-border-color-2: #F5F5F5;
$color-red: #84120B;
$color-white: #FFFFFF;
$color-black: #000000;
$dashboard-background-color: #e2f4ff;
$modal-background-tint: #00000060;

$primary-btn-size: 1.5rem;
$home-btn-box-shadow: 4px 5px 8px -1px #e0e0e0;
