@import '../../../assets/global-styles/mixins';
@import '../../../assets/global-styles/variables';

.active {
  background-color: $brand-color-3 !important;
  color: $color-white !important;
}
.claims {
  .filter {
    margin-bottom: 30px;
    .filter-title {
      display: flex;
      font-size: 15px;
      p {
        flex: 1;
      }
      .claims-count {
        text-align: right;
      }
    }
    .statuses {
      display: flex;
      background-color: $color-white;
      border-radius: 8px;
      cursor: pointer;
      .status {
        flex: 1;
        margin: 0;
        padding: 8px 0;
        border: 1px solid $brand-color-3;
        text-align: center;
      }
      .status:first-child {
        border-radius: 8px 0 0 8px;
        margin-right: -1px;
      }
      .status:nth-child(2) {
        margin-right: -1px;
      }
      .status:last-child {
        margin-left: -1px;
        border-radius: 0 8px 8px 0;
      }
    }
  }
  .empty-filter {
    background-color: $color-white;
    width: 100%;
    text-align: center;
    border-radius: 8px;
    padding: 25px;
    box-sizing: border-box;
  }
  .claim-table {
    margin-bottom: 5px;
    overflow-x: auto;
    p {
      text-align: center;
    }
    .table-wrapper {
      min-width: 750px;
      table {
        width: 100%;
        text-align: center;
        border-collapse:separate; 
        border-spacing: 0 5px;
        thead {
          color: $faint-color;
          th {
            font-weight: 100;
            padding-bottom: 15px;
          }
        }
        tbody {
          background-color: $color-white;
          border-radius: 8px;
          td {
            padding: 20px;
            box-sizing: border-box;
            .outter-ellipse {
              width: 25px;
              height: 25px;
              margin: auto auto auto 20px;
              padding: 1px;
              background-color: $brand-color;
              border-radius: 1000px;
              box-sizing: border-box;
              .inner-ellipse {
                width: 13px;
                height: 13px;
                margin: 5px auto;
                background-color: $color-white;
                border-radius: 1000px;
              }
            }
            .claim-icon {
              width: 25px;
              margin: auto auto auto 20px;
              img {
                width: 100%;
              }
            }
          }
          td:first-child {
            border-radius: 8px 0 0 8px;
          }
          td:last-child {
            color: $faint-color;
            border-radius: 0 8px 8px 0;
          }
        }
      }
    }
  }
  .pagination {
    margin-top: 20px;
    .navigation {
      display: flex;
      align-items: center;
      width: 200px;
      margin: auto;
      .prev, .next {
        color: $brand-color-3;
        cursor: pointer;
      }
      .prev {
        margin-right: 20px;
        @include pagination-button;
      }
      .next {
        margin-left: 20px;
        @include pagination-button;
      }
      span {
        margin: auto 10px;
      }
    }
  }
}