@import '../../../assets/global-styles/mixins';
@import '../../../assets/global-styles/variables';

.active {
  background-color: $brand-color-2 !important;
  color: $color-white !important;
}
.claims {
  .filter {
    margin-bottom: 30px;
    .filter-title {
      display: flex;
      font-size: 15px;
      p {
        flex: 1;
      }
      .claims-count {
        text-align: right;
      }
    }
    .statuses {
      display: flex;
      background-color: $color-white;
      border-radius: 8px;
      cursor: pointer;
      .status {
        flex: 1;
        margin: 0;
        padding: 8px 0;
        border: 1px solid $brand-color-2;
        text-align: center;
      }
      .status:first-child {
        border-radius: 8px 0 0 8px;
        margin-right: -1px;
      }
      .status:nth-child(2) {
        margin-right: -1px;
      }
      .status:last-child {
        margin-left: -1px;
        border-radius: 0 8px 8px 0;
      }
    }
  }
  .empty-filter {
    background-color: $color-white;
    width: 100%;
    text-align: center;
    border-radius: 8px;
    padding: 25px;
    box-sizing: border-box;
  }
  .claim-table {
    margin-bottom: 5px;
    overflow-x: auto;
    p {
      text-align: center;
    }
    .table-wrapper {
      min-width: 750px;
      .table-head, .table-body .content-wrapper {
        display: flex;
        align-items: center;
        div {
          flex: 1;
          text-align: center;
        }
      }
      .table-head {
        margin-bottom: 10px;
        color: $faint-color;
      }
      .table-body {
        .content-wrapper {
          background-color: $color-white;
          border-radius: 8px;
          margin-bottom: 10px;
          padding: 20px;
          box-sizing: border-box;
          cursor: pointer;
          &:focus {
            outline: none;
          }
          .bullet {
            box-sizing: border-box;
            margin: auto -20px auto 20px;
            .outter-ellipse {
              width: 25px;
              height: 25px;
              margin: auto auto auto 20px;
              padding: 1px;
              background-color: $brand-color;
              border-radius: 1000px;
              box-sizing: border-box;
              .inner-ellipse {
                width: 13px;
                height: 13px;
                margin: 5px auto;
                background-color: $color-white;
                border-radius: 1000px;
              }
            }
            .claim-icon {
              width: 25px;
              margin: auto auto auto 20px;
              img {
                width: 100%;
              }
            }
          }
          .claim-month {
            margin: auto 20px auto -20px;
          }
          .claim-status {
            margin: auto -10px auto 5px;
          }
          .claim-created-at {
            color: $faint-color;
          }
        }
        .approval-progress-bar {
          text-align: center;
        }
      }
    }
  }
  .pagination {
    margin-top: 20px;
    .navigation {
      display: flex;
      align-items: center;
      width: 200px;
      margin: auto;
      .prev, .next {
        color: $brand-color-3;
        cursor: pointer;
      }
      .prev {
        margin-right: 20px;
        @include pagination-button;
      }
      .next {
        margin-left: 20px;
        @include pagination-button;
      }
      span {
        margin: auto 10px;
      }
    }
  }
}