<div *ngIf="showFilters" class="filter">
  <div class="inputs">
    <div class="input-wrapper">
      <label for="year">Year</label>
      <select [(ngModel)]="year" type="text" name="year" (change)="onSelectChange()" class="short-input">
        <option *ngFor="let claimYear of claimYears" [value]="claimYear">{{claimYear}}</option>
      </select>
    </div>
    <div class="input-wrapper">
      <label for="month">Month</label>
      <select [(ngModel)]="month" type="text" name="month" class="short-input">
        <option *ngFor="let claimMonth of claimMonths" [value]="claimMonth === 'All' ? '' : claimMonth">{{claimMonth}}</option>
      </select>
    </div>
    <div class="input-wrapper">
      <label for="status">Status</label>
      <select [(ngModel)]="status" type="text" name="month" class="short-input">
        <option *ngFor="let claimStatus of claimStatuses" [value]="claimStatus === 'All' ? '' : claimStatus">{{claimStatus}}</option>
      </select>
    </div>
    <div class="input-wrapper">
      <label for="requester">Staff</label>
      <input
      #staffInput
      [(ngModel)]="staffId"
      type="text"
      name="staffId"
      placeholder="Staff ID or email"
      (focus)="userFocused=true"
      (blur)="userFocused=false">
      <div *ngIf="staffList?.length&&userFocused" class="staff-list">
        <div *ngFor="let staff of staffList" class="staff" (mousedown)="handleSelect(staff)">
          <span class="staff-id">{{staff.staffId}}</span>
          <span class="staff-name">{{staff.firstname}} {{staff.lastname}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="btn-wrapper">
    <button [disabled]="showSpinner" (click)="fetchClaims()">Search</button>
  </div>
  <section *ngIf="true" class="export-button-section">
    <button [disabled]="showSpinner" class="export-button" (click)="runModalDisplay('exportModal', 'Export')">
      Export results
      <i *ngIf="displaySpinnerExport" class="fa fa-spinner fa-spin"></i>
    </button>
    <div class="doc-types">
      
    </div>
  </section>
</div>
<div class="claims">
  <div *ngIf="!claims?.length" class="empty-state">
    <div class="empty-state-message">
      Nothing! Please refine your search parameters to see results.
    </div>
  </div>
  <div *ngIf="claims?.length">
    <div
      class="body-container"
      [ngClass]="{'add-height': showFilters}"
      infiniteScroll [infiniteScrollDistance]="1"[infiniteScrollThrottle]="1500" (scrolled)="onScroll()" [scrollWindow]="false">
      <div class="claim-requests-wrapper">
        <div *ngFor="let claim of claims" [attr.tabindex]="showDetails ? 0 : null" class="claim-request" id="{{claim.id}}">
          <div class="claim-body" id="claim{{claim.id}}">
            <div *ngIf="showDetails" class="direction-icon"><i class="fa fa-chevron-right"></i></div>
            <div class="staff-image">
              <div class="image-wrapper">
                <img src="{{claim?.image}}" alt="Staff Avatar">
              </div>
            </div>
            <div class="claim-details">
              <p class="name">{{claim?.fullname}}</p>
              <p class="claim-elements">{{claim?.claimElements}} claim elements</p>
            </div>
            <div class="claim-amount">₦{{claim?.amount | number}}</div>
            <div class="claim-status">{{claim?.status}}</div>
            <div *ngIf="!showApprovalButtons" class="claim-age">{{claim?.createdAt | timeAgo}}</div>
            <div *ngIf="showApprovalButtons" class="approval-buttons">
              <div class="buttons-wrapper">
                <div class="approval-btn approve" (mousedown)="runApproval($event, 'approve '+claim.id)">
                  <span class="toolTip">Approve</span>          
                  <img src="/assets/images/green-check.png" alt="Approve Icon">
                </div>
                <div class="approval-btn request-edit" (mousedown)="toggleModalDisplay('requestEditModal', claim, $event)">
                  <span class="toolTip">Request edit</span>
                  <img src="/assets/images/edit.png" alt="Request Edit Icon">
                </div>
                <div class="approval-btn decline" (mousedown)="runApproval($event, 'decline '+claim.id)">
                  <span class="toolTip">Decline</span>            
                  <img src="/assets/images/declined.png" alt="Decline Icon">
                </div>
              </div>
            </div>
          </div>
          <claim-details [claim]="claim" [showActionButtons]="showActionButtons"></claim-details>          
        </div>
        <div *ngIf="itsFetching" class="spinner">
          <i class="fa fa-spinner fa-spin"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="claims">
  <div *ngIf="claims.length && statuses?.length" class="filter">
    <div class="filter-title">
        <p>Filter by status:</p>
        <p class="claims-count">Claims count: <span>{{numberOfFilteredClaims}}</span></p>
    </div>
    <div class="statuses">
      <p
        *ngFor="let status of statuses"
        class="status"
        [class.active]="activeFilter===status"
        (click)="activeFilter=status; filterClaims(status);"
      >{{status}}</p>
    </div>
  </div>
  <div class="claim-table">
    <p *ngIf="!claims?.length">You currently have no records here.</p>
    <div *ngIf="!currentPageClaims?.length && claims.length" class="empty-filter">
      No claims in this stage
    </div>
    <div *ngIf="currentPageClaims?.length" class="table-wrapper">
      <div class="table-head">
        <div></div>
        <div>Month of claim</div>
        <div>Claim Elements</div>
        <div>Amount(₦)</div>
        <div>Status</div>
        <div></div>
      </div>
      <div *ngFor="let claim of currentPageClaims" class="table-body" tabindex="0">
        <div class="content-wrapper" [routerLink]="isAdmin ? ['/admin/claims', claim.id] : []">
          <div class="bullet">
            <div *ngIf="claim?.status.includes('ing')" class="outter-ellipse">
              <div class="inner-ellipse"></div>
            </div>
            <div *ngIf="!claim?.status.includes('ing')" class="claim-icon">
              <img *ngIf="claim?.status==='Declined'" src="/assets/images/declined.png" alt="Status Icon">
              <img *ngIf="claim?.status==='Completed'" src="/assets/images/completed.png" alt="Status Icon">
              <img *ngIf="claim?.status==='Cancelled'" src="/assets/images/cancelled.png" alt="Status Icon">
            </div>
          </div>
          <div class="claim-month">{{claim?.monthOfClaim}}, {{claim?.year}}</div>
          <div class="claim-elements">{{claim?.claimElements || '--'}}</div>
          <div class="claim-amount">{{claim?.amount | number}}</div>
          <div class="claim-status">{{claim?.status}}</div>
          <div class="claim-created-at">{{claim?.createdAt | timeAgo}}</div>
        </div>
        <div *ngIf="showDetails" class="see-more-button"><i class="fa fa-chevron-right"></i></div>
        <claim-details *ngIf="showDetails" [claim]="claim" [canModify]="canModify"></claim-details>
      </div>
    </div>
  </div>
  <div *ngIf="visibleClaims?.length>claimsPerPage" class="pagination">
    <div class="navigation">
      <button [disabled]="currentPage<=1" class="prev" (click)="prevPage()">Prev</button>
      <p><span>{{currentPage}}</span>of<span>{{totalPages}}</span></p>
      <button [disabled]="currentPage>=totalPages" class="next" (click)="nextPage()">Next</button>
    </div>
  </div>
</div>
 -->
